<%= form_with(model: damage_immunity, local: true) do |form| %>
  <% if damage_immunity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(damage_immunity.errors.count, "error") %> prohibited this damage_immunity from being saved:</h2>

      <ul>
      <% damage_immunity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
