<h1>Reset Password</h1>

<%= form_with(url: password_reset_url(@user), scope: "user", local: true, method: :put) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Password reset failed.</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :password_reset, value: false %>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, required: true %>
  </div>

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>

<%= link_to "Back", root_url %>
