

<h2>Skill Name: <%= @skill.name %></h2>
<h3>Creature Name: <%= @skill.creature.name %></h3>
<h4>Bonus: <%= @skill.bonus %></h4>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
