<%= form_with(model: ability, local: true) do |form| %>
  <% if ability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ability.errors.count, "error") %> prohibited this ability from being saved:</h2>

      <ul>
      <% ability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= form.label :creature_id, "Creature" %>
    <%= form.collection_select(:creature_id, Creature.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, size: "30x5", required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
