<p id="notice"><%= notice %></p>

<h1>Creature Sets</h1>

<table>
  <thead>
    <tr>
      <th>Set Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @creature_sets.each do |creature_set| %>
      <tr>
        <td><%= creature_set.name %></td>
        <td><%= link_to 'Show', creature_set %></td>
        <td><%= link_to 'Edit', edit_creature_set_path(creature_set) %></td>
        <td><%= link_to 'Destroy', creature_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Creature Set', new_creature_set_path %>
