<p id="notice"><%= notice %></p>

<h2><%= @creature_set.name %><br /></h2>
<h3><%= @creature_set.description %></h3>
<%= link_to 'Edit', edit_creature_set_path(@creature_set) %> |
<%= link_to 'Back', creature_sets_path %>
