<p id="notice"><%= notice %></p>

<h2><%= @creature_set.name %><br /></h2>
<h3><%= @creature_set.description %></h3>
<% for creature in @creature_set.creatures %>
  <p><%= link_to creature.name.titleize, creature %></p>
<% end %>

<% if current_user == @creature_set.user %>
  <%= link_to 'Edit', edit_creature_set_path(@creature_set) %> |
<% end %>
<%= link_to 'Back', creature_sets_path %>
