<!DOCTYPE html>
<html>
  <head>
    <title>VirtualMonsterManual</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to "Virtual Monster Manual", "/" %></li>
        <li><%= link_to "Creatures", creatures_path %></li>
        <li><%= link_to "Actions", creature_actions_path %></li>
        <li><%= form_with url: search_config[:path] do |form| %>
          <div class="addon-container">
            <%= search_field_tag "query", nil, placeholder: search_config[:placeholder], class: "addon-field" %>
            <%= form.submit "Go", class: "addon-item" %>
          </div>
        <% end %></li>
        <!-- TODO: User model state stuff here -->
        <% if current_user %>
          <li class="push-right"><%= link_to current_user.name, current_user %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
          <li class="push-right"><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
    <main>
      <div>
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name %>
        <% end -%>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
